<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="classic riddles from devinettes">
    <meta name="author" content="Fenimore Love">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/modal.css">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat" rel="stylesheet">
    <link rel="icon" href="../../favicon.ico">
    <title>Devinettes</title>
  </head>
  <body>

    <div id="app">
      <div class="container">
        <!-- Riddle List -->
        <div id="riddle-list">
          <ul>
            <li v-for="riddle in riddles" :key="riddle.shortname">
              <a v-on:click="setRiddle(riddle.shortname)" v-bind:class="{ complete: riddle.complete, current: riddle.current }">
                {{ riddle.shortname }}
              </a>
            </li>
            <ul>
        </div>
        <!-- Riddle Panel -->
        <div id="riddle-panel">
          <!-- Riddle -->
          <p>
            <div v-for="line in current.lines">
              {{ line }}
            </div>
          </p>
          <!-- Answer Input -->
          <input
              id="guessInput"
              ref="guess"
              placeholder="place your guess here"
              v-model.trim="guess"
              v-bind:class="{ wrong: wrong }"
              v-on:keyup.enter="submitGuess(guess, current)"
              @keyup.up="prevRiddle"
              @keyup.down="nextRiddle" autofocus>
          <br>
          <!-- Credits -->
          <credits>
            <small class="title">{{ current.shortname }}</small>
            <br>
            <authors>
              <span v-for="author in current.authors">
                {{ author }}
              </span>
              {{ current.year }}
            </authors>
          </credits>
        </div>
        <span id="help" v-on:click="toggleHelp()">
          (help)
        </span>
      </div>
      <!-- The Modal -->
      <div id="help-modal" class="modal" v-if="help" ref="helpModal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close" v-on:click="toggleHelp()">&times;</span>
          <h2>Devinettes</h2>
          <p>
            Type your answer and press Enter to submit your riddle answers.
          </p>
          <p>
            If you're correct, the answer will disappear, and a check will apear next to the riddle title.
          </p>
          <p>
            Individual riddle answers and hints are priced at a riddle by riddle basis. For more information, please contact the riddlers at: exorable.ludos+devinettes(at)gmail.com.
          </p>
        </div>
      </div>
    </div>
    <!--
    -->
    <footer class="footer">
      <div class="container">
      </div>
    </footer>
    <script src="js/vue.min.js"></script>
    <script src="js/sha1.js"></script>
    <script type="text/javascript">
     var vm = new Vue({
         el: '#app',
         mounted: function () {
             document.addEventListener('click', this.closeModal)
         },
         beforeDestroy: function () {
             document.removeEventListener('click', this.closeModal)
         },
         data: {
             riddles: [],
             current: {"lines": []},
             help: false,
             wrong: false,
             guess: "",
         },
         created: function () {
             fetch("riddles.json").then(val => {
                 return val.json();
             }).then(riddles => {
                 this.riddles = riddles.sort(function(a, b) {
                     return a.year - b.year;
                 });
                 this.setRiddle(this.riddles[0].shortname);
             });
         },
         methods: {
             submitGuess: async function(g, c) {
                 console.log("Making Guess " + g + " (sha1): " + sha1(g));
                 if (this.guess === "") return;
                 // sha1 is this js implemenation of sha1 (see imports)
                 if(c.answers.includes(sha1(g))) {
                     c.complete = true;
                     this.guess = "";
                 } else {
                     this.wrong = true;
                     // So, javascript is single threaded --
                     // and this async function _doesn't_ need
                     // mutexes to access shared state of
                     // the Vue app. (:grimace:) If it does I don't care?care
                     await this.sleep(500);
                     // I need to wait here because otherwise
                     // the CSS class needs time to activate
                     // (which blinks when something is wrong)
                     this.wrong = false;
                 }
             },
             setRiddle: function(n) {
                 console.log(name);
                 this.guess = "";
                 this.current.current = false;
                 this.current = this.riddles.filter(
                     riddle => riddle.shortname === n
                 )[0];
                 this.current.current = true;
                 this.$refs.guess.focus();
             },
             prevRiddle: function() {
                 var idx = this.riddles.indexOf(this.current);
                 if (idx - 1 < 0) {
                     idx = this.riddles.length - 1;
                 } else {
                     idx = idx - 1;
                 }
                 this.setRiddle(this.riddles[idx].shortname);
             },
             nextRiddle: function() {
                 var idx = this.riddles.indexOf(this.current);
                 if (idx + 1 > this.riddles.length - 1) {
                     idx = 0;
                 } else {
                     idx = idx + 1;
                 }
                 this.setRiddle(this.riddles[idx].shortname);
             },
             sleep: function(ms) {
                 return new Promise(resolve => setTimeout(resolve, ms));
             },
             toggleHelp: function() {
                 this.help = !this.help;
             },
             closeModal: function(event) {
                 if (this.$refs.helpModal !== undefined && event.target === this.$refs.helpModal) {
                     this.toggleHelp()
                 }
             }
         }
     });
    </script>
</body>
</html>
